*{
  margin:0;
  padding: 0;
}
.header{
  height: 54px;
  background-color: aquamarine;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.list{
  display:  flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  /* margin: 20px 0 20px 10px; */
}
.list li{
  text-decoration: none;
  list-style: none;
  margin: 20px 0 20px 10px;
}
.profile_img img{
  height: 50px !important;
  width: 50px !important;
  margin-right: 20px !important;
  border-radius: 50% !important;
  cursor: pointer;
}
/* home page css */
.home_page{
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  /* background-color: blueviolet; */
  text-align: center;
}
/* login css */
.login_page{
  background-color: bisque;
}
.login_form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  margin: auto;
}
.login_form input{
  padding: 10px;
}
.label{
  display: flex;
  flex-direction: column;
}
.button button{
  background-color: blue;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}
.page_details{
background-color: azure;
text-align: center;
padding-top: 20px;
}